{% extends 'layout.html' %}

{% block body %}
  <h1>About our project</h1>
  <h2> Welcome to the data science dashboard!</h2>
  <h4> The dashboard provides a visualization of our data that has been collected from Twitter and Reddit.</h4>
  <h4> The data can be visualized over two options:</h4>
  <ol>
    <li><h4> Tweet count by date: The program takes in a date or a date range as an input and plots a graph depicting the number of tweets collected everyday within or beyond the date  range</h4></li>
    <li><h4> Popular Hashtags: The program takes in a "text topic" as an input and retrieves the top five, most popular hashtags related to the topic of search</h4></li>
  </ol>
  <h4> To learn more about the project, click on the link: <a href="https://github.com/CS-415-580N-Fall-2020/project-1-3-report-team-das/blob/main/Project1Report_ddoddag1_sbengal2_ayenugu1.pdf">Impact of racism on US elections 2020</a></h4>

{% endblock %}
